[packages]
pytest = "==6.0.0"
pytest-xdist = "*"
Appium-Python-Client = "==0.50"
selenium = "==3.141.0"
testobject = "*"
sauceclient = "*"
saucebindings = "*"
robotframework = "*"
robotframework-pabot = "*"
robotframework-seleniumlibrary = "*"
robotframework-appiumlibrary = "*"

[scripts]
pytest-vdc-us = "pytest -n8 --dc=us selenium-examples/pytest/vdc/tests/"
pytest-vdc-eu = "pytest -n8 --dc=eu selenium-examples/pytest/vdc/tests/"
pytest-emusim-us = "pytest -n4 --dc=us selenium-examples/pytest/emusim/tests/"
pytest-emusim-eu = "pytest -n4 --dc=eu selenium-examples/pytest/emusim/tests/"
pytest-rdc-us-android-legacyTO = "pytest --dc=us appium-examples/pytest/rdc/legacyTO/android/tests/"
pytest-rdc-eu-android-legacyTO = "pytest --dc=eu appium-examples/pytest/rdc/legacyTO/android/tests/"
pytest-rdc-us-ios-legacyTO = "pytest --dc=us appium-examples/pytest/rdc/legacyTO/ios/tests/"
pytest-rdc-eu-ios-legacyTO = "pytest --dc=eu appium-examples/pytest/rdc/ios/legacyTO/tests/"
pytest-rdc-us-android-UP = "pytest --dc=us appium-examples/pytest/rdc/android/tests/"
pytest-rdc-eu-android-UP = "pytest --dc=eu appium-examples/pytest/rdc/android/tests/"
pytest-rdc-us-ios-UP = "pytest --dc=us appium-examples/pytest/rdc/ios/tests/"
pytest-rdc-eu-ios-UP = "pytest --dc=eu appium-examples/pytest/rdc/ios/tests/"


robot-vdc-us-chrome = "pabot --variable DATA_CENTER:'https://ondemand.saucelabs.com/wd/hub' -A selenium-examples/robotframework/vdc/chrome_config.txt selenium-examples/robotframework/vdc/Tests/"
robot-vdc-eu-chrome = "pabot --variable DATA_CENTER:'https://ondemand.eu-central-1.saucelabs.com/wd/hub' -A selenium-examples/robotframework/vdc/chrome_config.txt selenium-examples/robotframework/vdc/Tests/"
robot-vdc-us-firefox = "pabot --variable DATA_CENTER:'https://ondemand.saucelabs.com/wd/hub' -A selenium-examples/robotframework/vdc/firefox_config.txt selenium-examples/robotframework/vdc/Tests/"
robot-vdc-eu-firefox = "pabot --variable DATA_CENTER:'https://ondemand.eu-central-1.saucelabs.com/wd/hub' -A selenium-examples/robotframework/vdc/firefox_config.txt selenium-examples/robotframework/vdc/Tests/"
robot-vdc-us-ie = "pabot --variable DATA_CENTER:'https://ondemand.saucelabs.com/wd/hub' -A selenium-examples/robotframework/vdc/ie_config.txt selenium-examples/robotframework/vdc/Tests/"
robot-vdc-eu-ie = "pabot --variable DATA_CENTER:'https://ondemand.eu-central-1.saucelabs.com/wd/hub' -A selenium-examples/robotframework/vdc/ie_config.txt selenium-examples/robotframework/vdc/Tests/"
robot-vdc-us = "pabot --argumentfile1 selenium-examples/robotframework/vdc/chrome_config.txt --argumentfile2 selenium-examples/robotframework/vdc/firefox_config.txt --argumentfile3 selenium-examples/robotframework/vdc/ie_config.txt --variable DATA_CENTER:'https://ondemand.saucelabs.com/wd/hub' selenium-examples/robotframework/vdc/Tests/"
robot-vdc-eu = "pabot --argumentfile1 selenium-examples/robotframework/vdc/chrome_config.txt --argumentfile2 selenium-examples/robotframework/vdc/firefox_config.txt --argumentfile3 selenium-examples/robotframework/vdc/ie_config.txt --variable DATA_CENTER:'https://ondemand.eu-central-1.saucelabs.com/wd/hub' selenium-examples/robotframework/vdc/Tests/"
robot-rdc-us-android = "robot --variable DATA_CENTER:'https://us1.appium.testobject.com/wd/hub/' -A appium-examples/robotframework/rdc/android/android_config.txt appium-examples/robotframework/rdc/android/tests/"
robot-rdc-eu-android = "robot --variable DATA_CENTER:'https://eu1.appium.testobject.com/wd/hub/' -A appium-examples/robotframework/rdc/android/android_config.txt appium-examples/robotframework/rdc/android/tests/"
robot-rdc-us-ios = "robot --variable DATA_CENTER:'https://us1.appium.testobject.com/wd/hub/' -A appium-examples/robotframework/rdc/ios/iphone_config.txt appium-examples/robotframework/rdc/ios/tests/"
robot-rdc-eu-ios = "robot --variable DATA_CENTER:'https://eu1.appium.testobject.com/wd/hub/' -A appium-examples/robotframework/rdc/ios/iphone_config.txt appium-examples/robotframework/rdc/ios/tests/"

pytest-saucebindings = "pytest -n2 sauce-bindings/pytest/"
robot-saucebindings = "pabot --variable BROWSER_NAME:firefox sauce-bindings/robotframework/"

visual-test = "pytest ./visual-examples/webdriver-tests.py"
