[packages]
pytest = "==6.0.0"
pytest-xdist = "*"
Appium-Python-Client = "==2.0.0rc2"
PyYAML = ">=5.4"
selenium = "4.0.0"
sa11y = "*"
sauceclient = "*"
saucebindings = "*"

[scripts]
best-practice-desktop-us = "pytest -n8 --dc=us best_practice/desktop_web/"
best-practice-desktop-eu = "pytest -n8 --dc=eu best_practice/desktop_web/"
best-practice-mobile-web-vdc-us = "pytest -n8 --dc=us best_practice/mobile_web/vdc"
best-practice-mobile-web-vdc-eu = "pytest -n8 --dc=eu best_practice/mobile_web/vdc"
best-practice-mobile-web-rdc-us = "pytest -n4 --dc=us best_practice/mobile_web/rdc"
best-practice-mobile-web-rdc-eu = "pytest -n4 --dc=eu best_practice/mobile_web/rdc"
best-practice-mobile-native-us-android = "pytest -n2 --dc=us best_practice/mobile_native/android"
best-practice-mobile-native-eu-android = "pytest -n2 --dc=eu best_practice/mobile_native/android"
best-practice-mobile-native-us-ios = "pytest -n2 --dc=us best_practice/mobile_native/ios"
best-practice-mobile-native-eu-ios = "pytest -n2 --dc=eu best_practice/mobile_native/ios"

headless = "pytest -n4 examples/headless/test_demo.py"
saucebindings-pytest = "pytest -n2 examples/sauce_bindings/pytest/"
saucebindings-robot = "pabot --variable BROWSER_NAME:firefox examples/sauce_bindings/robotframework/"
sauce_visual = "pytest examples/sauce_visual/webdriver-tests.py"
accessibility = "pytest -n2 examples/accessibility/"
demo = "pytest examples/selenium/"

robot-desktop-web-us = "pabot --argumentfile1 examples/robotframework/desktop_web/chrome_config.txt --argumentfile2 examples/robotframework/desktop_web/firefox_config.txt --argumentfile3 examples/robotframework/desktop_web/ie_config.txt --variable DATA_CENTER:'https://ondemand.us-west-1.saucelabs.com/wd/hub' examples/robotframework/desktop_web/Tests/"
robot-desktop-web-eu = "pabot --argumentfile1 examples/robotframework/desktop_web/chrome_config.txt --argumentfile2 examples/robotframework/desktop_web/firefox_config.txt --argumentfile3 examples/robotframework/desktop_web/ie_config.txt --variable DATA_CENTER:'https://ondemand.eu-central-1.saucelabs.com/wd/hub' examples/robotframework/desktop_web/Tests/"
robot-android-us = "pabot --variable DATA_CENTER:'https://ondemand.us-west-1.saucelabs.com/wd/hub' -A examples/robotframework/native_mobile/android/android_config.txt examples/robotframework/native_mobile/android/tests/"
robot-android-eu = "pabot --variable DATA_CENTER:'https://ondemand.eu-central-1.saucelabs.com/wd/hub' -A examples/robotframework/native_mobile/android/android_config.txt examples/robotframework/native_mobile/android/tests/"
robot-ios-us = "pabot --variable DATA_CENTER:'https://ondemand.us-west-1.saucelabs.com/wd/hub' -A examples/robotframework/native_mobile/ios/iphone_config.txt examples/robotframework/native_mobile/ios/tests/"
robot-ios-eu = "pabot --variable DATA_CENTER:'https://ondemand.eu-central-1.saucelabs.com/wd/hub' -A examples/robotframework/native_mobile/ios/iphone_config.txt examples/robotframework/native_mobile/ios/tests/"
