-i https://pypi.org/simple
apipkg==3.0.2
appium-python-client==5.2.4
attrs==25.4.0
certifi==2025.11.12
chardet==5.2.0
decorator==5.2.1
docutils==0.22.4
execnet==2.1.2
idna==3.11
importlib-metadata==8.7.1 ; python_version < '3.8'
iniconfig==2.3.0
kitchen==1.2.6
more-itertools==10.8.0
packaging==25.0
pluggy==1.6.0
py==1.11.0
pyparsing==3.2.5
pytest-xdist==3.8.0
pytest==8.4.2
pytest-playwright==0.7.2
pyyaml==6.0.3
requests==2.32.5
robotframework-pabot==5.1.0
robotframework-pythonlibcore==4.4.1
robotframework-seleniumlibrary==6.8.0
robotframework==7.3.2
sauceclient==1.0.1
selenium==4.38.0
six==1.17.0
toml==0.10.2
urllib3==2.6.3
zipp==3.23.0
