-i https://pypi.org/simple
apipkg==3.0.2
appium-python-client==5.3.1
attrs==26.1.0
certifi==2026.4.22
chardet==7.4.3
decorator==5.3.0
docutils==0.22.4
execnet==2.1.2
idna==3.15
importlib-metadata==9.0.0 ; python_version < '3.8'
iniconfig==2.3.0
kitchen==1.2.6
more-itertools==11.0.2
packaging==26.2
pluggy==1.6.0
py==1.11.0
pyparsing==3.3.2
pytest-xdist==3.8.0
pytest==9.0.3
pytest-playwright==0.7.2
pyyaml==6.0.3
requests==2.34.2
robotframework-pabot==5.2.2
robotframework-pythonlibcore==4.6.0
robotframework-seleniumlibrary==6.8.0
robotframework==7.4.2
sauceclient==1.0.2
selenium==4.44.0
six==1.17.0
toml==0.10.2
urllib3==2.7.0
zipp==3.23.1
