[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "==3.141.0"

[scripts]
test = "pipenv run python ./webdriver-tests.py"

[requires]
python_version = "3.7"
